@import "../../common/colors.scss";

.footer{
    color: $font-primary;
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;  
    flex-direction: row;
    position: sticky
    
}